{% extends 'base.html.twig' %}
{% block title %} {{ parent() }} L2DSI1
{% endblock %}
{% block body %}
    <h1>détail de l'article</h1>
L'identifiant est :{{ id }}
<br> Nom de l'article est : {{ name }}
{% endblock %}